<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Odev</title>
    <meta name="description" content="Odev">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="static/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->


</head>
<script>
        function raporOlustur() {
            var raporTur = $('#rapor_tur').val();
            var linkx = '';
            
            if(raporTur=="Borcu Bulunmayan Öğrenciler"){
                linkx = '/api/getborcsuz';

            }
            else if(raporTur=="Borçlu Öğrenciler"){
                linkx = '/api/getborclu';
            }
            else{
                alert("raporTur else oldu");
            }

            $.ajax({
            url: linkx,
            type: 'get',
            contentType: 'application/json',
          
            success: function( data, textStatus, jQxhr ){
                if(data["hata"]==true){
                    alert("Sunucu kaynaklı bir hata oluştu.");

                }
                else if(data.length==0){
                    $('#raporSonucArea').replaceWith(function(){
                    return `<div id="raporSonucArea">
                            <div class="alert alert-warning" role="alert">
                                        Herhangi bir kayıt bulunmuyor!
                                    </div>
                    </div>   `
            });
                }
                else{
                  
                    $('#raporSonucArea').replaceWith(function(){
                    return `<div id="raporSonucArea">



                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>NO</th>
                                                        <th>AD.SOYAD</th>
                                                        <th>BORÇ</th>
   
                                                 
                                                    </tr>
                                                </thead>
                                                <tbody>
                             
                                            
                                                                    
                                     
                              
                                                </tbody>
                                            </table>
                    
                    
                    
                    
                    </div>`
                    });

                    data.forEach(element => {

                        $("#bootstrap-data-table").last().append(`<tr>
                                <td><span >${element["no"]}</span></td>
                                <td><span>${element["isim"]}</span></td>
                                <td><span>${element["borc"]}</span></td>

                        </tr>`);

                        



                        });
                        
               
                    

                }

                
            },
            error: function( jqXhr, textStatus, errorThrown ){
                alert("Bilinmeyen bir hata oluştu.");
                console.log( errorThrown );
            }
        });





        }
        

        
        </script>



<body>
 
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index"><i class="menu-icon fa fa-laptop"></i>Anasayfa </a>
                    </li>
  
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Araçlar</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            
                                <li><i class="fa fa-table"></i><a href="ogrenciekle">Öğrenci Ekle</a></li>
                                <li><i class="fa fa-id-badge"></i><a href="gelirekle">Gelir Ekle</a></li>
                                <li><i class="fa fa-id-badge"></i><a href="giderekle">Gider Ekle</a></li> 
                                <li><i class="fa fa-id-badge"></i><a href="raporlar">Raporlar</a></li>
                              
                            


                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Kayıtlar</a>
                        <ul class="sub-menu children dropdown-menu">
           
                            <li><i class="fa fa-table"></i><a href="ogrenciler">Öğrenci Kayıtları</a></li>
                            <li><i class="fa fa-table"></i><a href="gelirler">Gelir Kayıtları</a></li>
                            <li><i class="fa fa-table"></i><a href="giderler">Gider Kayıtları</a></li>
                        </ul>
                    </li>
   
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
                <div style="width:100%; position: absolute; top:0px; left:0px; right:0px;">
                        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                        </div>
               
     
            <div class="top-right"> 
                <div class="header-menu">
                    <div class="header-left">
            

                   
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="static/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                           

                            <a class="nav-link" href="cikis"><i class="fa fa-power -off"></i>Çıkış Yap</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">

                       
                        <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title">Rapor Oluştur</strong>
                                    </div>
                                    <div class="card-body">
                                        <table  class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                           
                                                    <th>RAPOR.TUR</th>
                                     
                    
                                                    <th>RAPOR.OLUSTUR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                      
                                                    
                                                    <td>

                                                            <div class="btn-group">
                                                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Rapor Seç <span class="caret"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                            <li><a href="#">Borcu Bulunmayan Öğrenciler</a></li>
                                                                            <li><a href="#">Borçlu Öğrenciler</a></li>
                                                          
                                                                    </ul>
                                                                </div>
                                                                <input type="hidden" id="rapor_tur">

                                                          




                                                    </td>
                    
                                      
                                                  
                              
                                             
                                                   
                                                  
                                                    <td>
                                                            <button  id ="raporOlusturBtn" type="button"  disabled   class="btn btn-primary ">Rapor Oluştur</button>
                                                    </td>
                                                    
                                                </tr>
                                       
                                      



                                                
                                                
                                          
                                                

                                            
                                 
                          
                                            </tbody>
                                        </table>
                                      
    
                                    
                                    </div>
                         
                                </div>
                                <div id="raporSonucArea">
        
                       
                                </div>
                            </div>
                </div>
                


                <!-- /Widgets -->
           

                   
            
        



              

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="static/assets/js/main.js"></script>
    <script src="static/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="static/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="static/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="static/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="static/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="static/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="static/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="static/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="static/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="static/assets/js/init/datatables-init.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
      } );
  </script>

<script>
       $(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  
  //optional store val in hidden input
  $('#rapor_tur').val(selText);
  $('#raporOlusturBtn').replaceWith(function(){
            return `<button  id ="raporOlusturBtn" type="button"  onclick="raporOlustur()"   class="btn btn-primary ">Rapor Oluştur</button>`
            });
});

    </script>



</body>
</html>
